.leaflet-control-geocoder a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.leaflet-control-geocoder {
	box-shadow: 0 1px 7px #999;
	background: #f8f8f9;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.leaflet-control-geocoder a#leaflet-control-geocoder-toggle {
	background-image: url(images/geocoder.png);
	width: 36px;
	height: 36px;
}

.leaflet-touch .leaflet-control-geocoder a {
	width: 44px;
	height: 44px;
}

.leaflet-control-geocoder-resultat {
    display: none;
}

.leaflet-control-geocoder .leaflet-control-geocoder-form,
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-toggle {
	display: none;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form,
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-resultat {
	display: block;
	position: relative;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
	padding: 5px;
}

.leaflet-control-geocoder-resultat.disabled {
    display: none;
}
.leaflet-control-geocoder-resultat a {text-decoration: none;color: #595959}
.leaflet-control-geocoder-resultat a:hover {color: black;}
.leaflet-control-geocoder-resultat ul {
    list-style: none;
    margin: 0 5px;
    padding: 0;
    list-style-type: none;
}